#avatar-flyout-wrapper {
	width: 100%;
	height: calc(100% - 180px);
	overflow: hidden;
}
#avatar-flyout-top {
	display: block;
	padding: 8px 10px;
	width: 100%;
	border-bottom: 2px solid rgba(112, 112, 112, 0.13);
}
#avatar-search {
	display: inline-block;
}
#avatar-flyout-bottom {
	display: flex;
	flex-direction: row;
}
.resizedFlyouts {
	width: 300px;
	max-height: 710px;
}
