@import './sass_variables.scss';

.dashboardBox {
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, .19);
    margin-bottom: 15px;
    background: #ffffff;
    padding: 15px;
    
    .title {
        text-align: center;
    }
}

.googleSignInButton > div {
    margin: 15px auto 0;
}