#login {
	height: 100%;
	display: flex;

	#login-form {
        height: 100%;
        width: 100%;
	}

	#login-splash {
		background: #3b54a5;
		display: none;
	}

	#login-form {
		display: flex;
		justify-content: center;
		align-items: center;

		#login-form-container {
            text-align: center;
            max-width: 100%;

			#login-form-inputs {
				background: #E1E0E0;
				text-align: left;
                width: 384px;
                max-width: 100%;
				padding: 15px;
                margin-top: 0;
			}
		}
	}
}

@media (min-width: 992px) {
    #login {
        #login-form,
        #login-splash {
            height: 100%;
            width: 50%;
        }

        #login-splash {
            display: block;
        }
    }
}
@media (min-height: 400px) {
    #login {
        #login-form {
            #login-form-container {
                #login-form-inputs {
                    margin-top: 25px;
                }
            }
        }
    }
}
