@import "sass_variables";
.logo_container {
	height: 64px;
	background: $primary;
	padding-top: 12px;
	padding-left: 20px;
}
#menu_panel_container {
	box-shadow: 0 3px 3px #000;
	position: relative;
	z-index: 15;
	height: 100%;
}
.list {
	color: #fff;
	list-style-type: none;
	padding-left: 0;
	padding-top: 0;
	margin-bottom: 0;
	flex-grow: 1;
}
.list_item {
	font-size: 20px;
	padding: 10px 15px;
}
.list_item:hover {
	background: $primary_dark;
	cursor: pointer;
}
.list_item_selected {
	font-size: 20px;
	padding: 10px 15px;
	cursor: pointer;
	background: $primary_dark;
}
.list_item_selected:hover {
	background: $primary_dark;
}
.sub_list {
	list-style-type: none;
	padding-left: 0;
	background: $primary_light;

	li {
		padding: 10px 12px 10px 27px;
		font-size: 18px;
		display: flex;

		&:hover {
			background: $primary_dark;
			cursor: pointer;
		}
		svg {
			width: 25px !important;
			margin-right: 13px;
		}
	}
}
.mp_icon {
	font-size: 24px;
	margin-right: 20px;
	width: 30px !important;
}
.sub_list_selected {
	background: $primary_dark;
}
.panel_bottom {
	color: #fff;
	padding: 15px;
	font-size: 24px;

	div {
		margin: 20px 0;
	}
}
