.notificationList {
    width: 320px;
    list-style-type: none;
    padding: 0 !important;
    font-size: 18px;

    .newNotificationCircle {
        color: #ff0000;
        font-size: 7px;
    }
    .notificationNew {
        width: 15px;
    }
    .notificationText {
        width: 220px;
    }
    .notificationDate {
        font-size: 12px;
    }

    li {
        padding: 8px 10px;
        display: flex;
        flex-direction: row;
        align-items: center;

        &.topnav-notifications-view-all {
            justify-content: center;
            font-size: 14px;
        }

        &.topnav-notifications-view-all::before {
            content: "";
            text-align: center;
        }

        .item-label {
            text-align: left;
            display: inline-flex;
            width: calc(100% - 80px);
        }

        .item-date {
            font-size: 12px;
            text-align: right;
            display: inline-flex;
            padding-top: 7px;
        }
    }

    li.read {
        &::before {
            color: transparent;
        }
    }
}
.notificationSummary {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 14px;

    .unreadNotifications {
        color: #ff0000;
        display: inline-block;
        padding-left: 0.6em;
    }
}
