//SASS variables
$primary: #3B54A5;
$primary_light: scale_color($primary, $lightness: 15%);
$primary_dark: scale_color($primary, $lightness: -15%);
$neutral_light: #EAEAEA;
$neutral: #DADADA;
$gray: #676767;
$light-gray: #E1E0E0;
$off-white: #F8F9FA;

//SASS mixins
@mixin button-box-shadow {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .19);
    &:hover {
        box-shadow: 0 5px 6px rgba(0, 0, 0, .19);
    }
    &:active {
        box-shadow: none;
    }
}
@mixin flyout-styling {
    display: none;
    position: absolute;
    background: #FFF;
    color: #707070;
    font-size: 20px;
    text-align: left;
    border-radius: 6px;
    @include flyout-box-shadow;
    ul {
        margin: 0;
        padding: 10px 15px;
    }
    &.visible {
        display: flex;
    }
}
@mixin flyout-box-shadow {
    box-shadow: 3px 3px 9px rgba(0, 0, 0, .19);
}
@mixin menu-panel-expanded{
    width: 15%;
    min-width: 200px;
    transition: width 200ms, min-width 200ms;
}
@mixin menu-panel-collapsed{
    width: 65px;
    min-width: 65px;
    transition: width 200ms, min-width 200ms;

}