.search {
    color: #676767;
    background: #e1e0e0;
    border-radius: 5px;
    padding: 10px;
    width: 100%;

    .searchInput {
        color: #676767;
        border: none;
        background: transparent;
        width: calc(100% - 25px);
        font-size: 16px;
    }
}