@import "sass_variables";
@mixin drawer-tab {
    background: $light-gray;
    display: inline-block;
    margin-right: 5px;
    height: 30px;

    :hover {
        cursor: pointer;    
    }
    .tabName {
        color: $gray;
    }
}

.tabName {
    padding: 8px 10px;
    width: 90px;
    text-align: center;
    margin-right: 5px;
    font-size: 13px;
}
.drawerTab {
    @include drawer-tab;
}
.drawerTabActive {
    @include drawer-tab;

    background: $gray;

    .tabName {
        font-weight: 700;
        color: #ffffff;
    }
}
.tabContent {
    height: calc(100% - 15px);
    padding: 15px;
    border-top: 1px solid $gray;
    border-left: 1px solid $gray;
}